<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{- site.description | escape -}}(Amazon.co.jp アソシエイトメンバー)</p>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p class="rss-subscribe"><i class="fas fa-rss"></i> <a href="https://anchor.fm/s/138b2640/podcast/rss">RSS</a></p>
        <p class="rss-subscribe"><i class="fas fa-podcast"></i> <a href="https://podcasts.apple.com/jp/podcast/interaxion/id1503487109">Apple Podcasts</a></p>
        <p class="rss-subscribe"><i class="fab fa-google"></i> <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8xMzhiMjY0MC9wb2RjYXN0L3Jzcw==">Google Podcasts</a></p>
        <p class="rss-subscribe"><i class="fab fa-spotify"></i> <a href="https://open.spotify.com/show/7GeJFJrriIfj3Gr8xYQR9f">Spotify</a></p>
      </div>
    </div>
    <div class="footer-source">{{ "このウェブサイトのソースコードは[こちら](https://github.com/interaxion-podcast/interaxion-podcast.github.io)です。" | markdownify }}</div>
  </div>

</footer>
