.twicon img {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 50%;
}

.tag-list .span-tag {
    margin-right: 5px;
    margin-left: 5px;
}

.tag-list .span-tag::before {
    content: "#";
}

.page-nav {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
  }
  
  .page-nav a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .page-nav .next {
    text-align: right;
  }
