---
layout: post
---

<br>
<div id="summary">
  {{ page.excerpt | markdownify}}
</div>
<div id="anchor_embedding">
  <p align="center">{{page.anchorEmbedding}}</p>
</div>
<br>
<div class="starring">
  <h2>Starring</h2>
    <div class="twicon">
      {% for star in page.starring %}
        {% for member in site.data.members %}
          {% if star == member.name %}
            <a href="https://twitter.com/{{ member.twitter }}"><img src="https://twivatar.glitch.me/{{ member.twitter}}" width="64" height="64" alt="{{ member.name }}"></a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
</div>
</br>
<div class="episode_tags">
  <h2>Tags</h2>
  <div class="tag-list">
    {% assign sortedTags = page.tags | sort %}
    {% for tag in sortedTags %}
      <span class="span-tag"><a href="{{ site.url}}/tags#{{ tag }}">{{ tag }}</a> </span>
    {% endfor %}
   </div>
</div>
<br>
<div id="show_notes">
  <h2>Show notes</h2>
  {{ content }}
</div>
