---
layout: default
---
{% assign sortedTags = site.tags | sort %}
{% assign max_count = 0 %} <!-- 最大頻度 -->
{% assign min_count = 9999 %} <!-- 最小頻度 -->

{% for tag in site.tags %}
  {% assign current_size = tag[1] | size %}
  {% if current_size > max_count %}
    {% assign max_count = current_size %}
  {% endif %}
  {% if current_size < min_count %}
    {% assign min_count = current_size %}
  {% endif %}
{% endfor %}

{% assign thresholds = "" %}
{% assign font_sizes = "" %}
{% assign font_factor = 0.05 %}

<!--50段階にする-->
{% assign range = max_count | minus: min_count | divided_by: 50 %}
{% for i in (1..50) %}
  {% if thresholds == "" %}
    {% assign thresholds =  min_count | plus: range | times: i %}
    {% assign font_sizes =  1 %}
  {% else %}
    {% assign th = min_count | plus: range | times: i %}
    {% assign fs = 1 | times: i | times: font_factor | plus: 1 %}
    {% assign thresholds = thresholds | append: "," | append: th %}
    {% assign font_sizes =  font_sizes | append: "," | append: fs %}
  {% endif %}
{% endfor %}

{% assign thresholds = thresholds | split: "," %}
{% assign font_sizes = font_sizes | split: "," %}

<div class="tag-list">
  <h2>タグ一覧</h2>
  {% for tag in sortedTags %}
    <!-- tag[0] はタグ名、tag[1]はそのタグの着いた記事のリスト -->
    {% assign tag_name = tag[0] %}
    {% assign tag_count = tag[1] | size %}

    {% assign i = 0 %}
    {% assign font_size = 1 %}
    {% for thre in thresholds %}
      <!-- 数値型に変換-->
      {% assign thre_num = thre | plus: 0 %}
      {%if tag_count >= thre_num %}
        {% assign font_size = font_sizes[i] %}
      {% endif %}
      {% assign i = i | plus: 1 %}
    {% endfor %}  
    <span class="span-tag" style="font-size: {{ font_size }}em">
      <a href="#{{ tag_name }}">{{ tag_name }}</a>
    </span>
  {% endfor %}
</div>
<br><br>

<h2>タグを含むエピソード一覧</h2>
{% for tag in sortedTags %}
  <div id="{{tag[0]}}">
    <h3>{{ tag[0] }}</h3>
    <ul>
    {% for post in tag[1] reversed %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}

